<div class="registration-container">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" required>
        <p *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid">Enter First Name</p>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" required>
        <p *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid">Enter Last Name</p>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
        <p *ngIf="form.get('email')?.touched && form.get('email')?.invalid">Enter a valid email</p>
        <p *ngIf="customerEmail && form.get('email')?.touched">Email already exists</p>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" formControlName="phone" required>
        <p *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">Enter a valid phone number</p>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
        <p *ngIf="form.get('password')?.touched && form.get('password')?.invalid">Enter a valid password (3-12 characters)</p>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        <p *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid">Confirm your password</p>
        <p *ngIf="form.value.password !== form.value.confirmPassword && form.get('confirmPassword')?.touched">Passwords do not match</p>
      </div>
      <button type="submit" class="register-button">Register</button>
    </form>
    <p class="login-link">
      Already have an account? <a routerLink="/login" routerLinkActive="active">Log in here</a>.
    </p>
</div>
