.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.registration-container h2 {
  color: #004080;
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.form-group {
  width: 100%;
  max-width: 450px; 
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 150%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1em;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  transition: border-color 0.3s ease;
  font-family: 'Arial', sans-serif; 
}

input:focus {
  border-color: #004080;
  outline: none;
}

p {
  color: #ff4d4d;
  font-size: 0.9em;
  margin-top: 5px;
}

.register-button {
  width: 100%; 
  max-width: 450px;
  padding: 12px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.register-button:hover {
  background-color: #003366;
}

.login-link {
  margin-top: 15px;
  font-size: 1em;
}

.login-link a {
  color: #004080;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
