<div class="login-container">
  <div class="login-left">
    <img src="../../assets/school.jpg" alt="School Logo" class="logo">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Username" class="input-field" required>
      <input type="password" placeholder="Password" class="input-field" required>
      <div class="button-container">
        <button type="submit" class="login-btn">Login</button>
        <button type="button" class="signup-btn" (click)="onSignUp()">Sign Up</button>
      </div>
      <a href="#" class="forgot-password">Forgot Password?</a>
    </form>
  </div>
  <div class="login-right">
    <div class="boxes">
      <img src="../../assets/desk.jpg" alt="Classroom" class="boxes">
    </div>
  </div>
</div>
